<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">และถ้าใช่ ดีใจด้วยค่ะ เพราะเรามีทางออกที่เหมาะกับคุณ</h2>
                <hr class="light">
                <p class="text-faded">เราคือเว็บรวบรวมสรุปหนังสือเสียง รีวิวหนังสือ ที่เน้นเนื้อหาในเชิงธุรกิจ พัฒนาตนเอง และจิตวิทยา</p>
                <p class="text-faded">และถ้าชอบหนังสือ คุณสามารถซื้อกับเราได้ทันที</p> 
                <a href="#" class="btn btn-default btn-xl">ติดตามเราที่นี่</a>
            </div>
        </div>
    </div>
</section>
