<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>คุณกำลังมีปัญหาเกี่ยวกับการอ่านหนังสือธุรกิจอยู่หรือเปล่า</h1>
            <hr>
            <p>ไม่ชอบอ่าน, ไม่มีเวลา, ไม่รู้จะอ่านอะไรดี, น่าเบื่อ ฯลฯ แต่ก็รู้ว่าต้องพัฒนาคนเอง</p>
            <p>เพราะโลกยังคงหมุนไปข้างหน้า และเราก็ไม่รู้ว่าจะต้องใช้ความรู้ไหนกับเรื่องใด ดังนั้นการอ่านหนังสือก็ยังจำเป็นอยู่</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">ติดตามเราที่นี่</a>
        </div>
    </div>
</header>
