<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>มีหนังสือกี่เล่มแล้วที่คุณอยากอ่าน แต่อ่านไม่จบ</h1>
            <h1>คนแนะนำเต็มไปหมด อ่านเล่มไหนก่อนดี</h1>
            <hr>
            <p>ยุ่ง ไม่มีเวลา, ไม่รู้จะอ่านอะไรดี, บางเล่มก็น่าเบื่อ</p>
            <p>รู้ว่าต้องพัฒนาตนเอง และการอ่านหนังสือก็ยังเป็นสิ่งจำเป็น</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">ถ้าใช่ คลิ้ก</a>
        </div>
    </div>
</header>
