<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>มาร่วมกันช่วยให้คนไทยเข้าถึงความรู้มากขึ้น</h1>
            <hr>
            <p>มีคนไทยจำนวนมากไม่ชอบการอ่านหนังสือ แต่อยากได้ความรู้ไปใช้ในการประกอบธุรกิจและการพัฒนาตนเอง หนึ่งในวิธีที่ตอบโจทย์ได้ดี คือ การทำสรุปความรู้จากหนังสือ เพื่อให้คนเหล่านั้นเข้าใจง่าย และไปซื้อหนังสือมาอ่านในรายละเอียด</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">เข้าร่วมกับเรา</a>
        </div>
    </div>
</header>
