<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h2>ท้อมั้ย กว่าจะอ่านจบ สรุปเสร็จก็ไม่ค่อยมีคนดู</h2>
            <h3>ใช้เวลาตั้งนาน แต่ไม่เกิดรายได้ซะที</h3>
            <hr>
            <p style="color:#f64d2f">ไหนจะจดโน้ต เขียนสคริป อัดเสียง พูดซ้ำๆ ตัดต่อหลายรอบ</p>
            <p style="color:#f64d2f">ถ้าเรามีแพลทฟอร์ม ให้ผลงานของคุณเข้าถึงคนจำนวนมาก และยังมีโอกาสสร้างรายได้</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">สนใจ คลิก</a>
        </div>
    </div>
</header>